<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <script src="javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ page.title }}</h1>
<!-- p>windows7 sidebar gadget to remind your schedule based on iCalendar format</p -->
        <p class="view"><a href="https://github.com/miyu1/iCalViewer2">View the Project on GitHub <small>miyu1/iCalViewer2</small></a></p>
        <ul>
          <!-- li><a href="https://github.com/miyu1/iCalViewer2/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/miyu1/iCalViewer2/tarball/master">Download <strong>TAR Ball</strong></a></li -->
          <li><a href="https://github.com/miyu1/iCalViewer2">Fork Me On <strong>GitHub</strong></a></li>
        </ul>
      </header>

      <div style="text-align:right">
        {% capture url %}{{ page.url | remove:'.html' }}{% endcapture %}
        {% if url contains '_ja' %}
          <a href="{{ url | remove:'_ja' }}.html" >English</a>
        {% else %}
          English
        {% endif %}
          |
        {% if url contains '_ja' %}
          日本語
        {% else %}
          <a href="{{ url }}_ja.html">日本語</a>
        {% endif %}
      </div>
      <section>
        {{ content }}
      </section>
    </div>
    <footer>
      <p>プロジェクト管理者: <a href="http://miyu1.github.com/">miyu1</a></p>
      <p>Hosted on GitHub Pages &mdash; テーマ作成者:<a href="https://github.com/orderedlist">orderedlist</a></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
    
  </body>
</html>
